<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap" rel="stylesheet">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Task 1</title>

   
  </head>
  <body>
<!--mobile view-->
<div id="mobile-view">
    <div class="first-sectionmv">
    <h2 class="headings"> 10,000+ of our users love our products.</h2>
    <p class="normaltext">
        We only provide great products combined with excellent customer service.
        See what our satisfied customers are saying about our services.</p>
    </div>
<!--pink boxes-->
<div class="section-pinkboxes">
     <div class="pink-container">
        <div class="star-container">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
        </div>
        <b>Rated 5 Stars in Reviews</b>
    </div>
    <div class="pink-container">
        <div class="star-container">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
        </div>
        <b>Rated 5 Stars in Report Guru</b>
    </div>
    <div class="pink-container">
        <div class="star-container">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
            <img src="./images/icon-star.svg">
        </div>
        <b>Rated 5 Stars in BestTech</b>
    </div>
</div>
<!--purple cards-->
<div class="card-section">
    <!--first card-->
    <div class="purple-container">
        <div class="user-info">
        <img src="./images/image-colton.jpg" class="round-image">
        <div class="user-details">
        <div class="username">Colton Smith </div>
        <div class="user-descp"> Verified Buyer</div>
    </div>
    </div>
        <p class="thoughts">"We needed the same printed design as the one we had ordered a week prior.
            Not only did they find the original order, but we also received it in time.
            Excellent!"</p>

    </div>
    <!--second card-->
    <div class="purple-container">
        <div class="user-info">
        <img src="./images/image-irene.jpg" class="round-image">
        <div class="user-details">
        <div class="username">Irene Roberts </div>
        <div class="user-descp"> Verified Buyer</div>
    </div>
    </div>
        <p class="thoughts">"Customer service is always excellent and very quick turn around. Completely
            delighted with the simplicity of the purchase and the speed of delivery."</p>

    </div>
    <!--third card-->
    <div class="purple-container">
        <div class="user-info">
        <img src="./images/image-anne.jpg" class="round-image">
        <div class="user-details">
        <div class="username">Anne Wallace </div>
        <div class="user-descp"> Verified Buyer</div>
    </div>
    </div>
        <p class="thoughts">"Put an order with this company and can only praise them for the very high
            standard. Will definitely use them again and recommend them to everyone!"</p>

    </div>

</div>
</div>


<!--desktop view-->
<div id="desktop-view">
    <!--Section1-->
   <div class="section-firstdv">
    <div class="first-section">
        <h2 class="headings"> 10,000+ of our users love our products.</h2>
        <p class="normaltext">
            We only provide great products combined with excellent customer service.
            See what our satisfied customers are saying about our services.</p>
        </div>
     <!--Section2-->
        <div class="section-pinkboxesdv">
            <div class="pink-containerdv" >
               <div class="star-containerdv">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
               </div>
               <b>Rated 5 Stars in Reviews</b>
           </div>
           <div class="pink-containerdv" id="secpink">
               <div class="star-containerdv">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
               </div>
               <b>Rated 5 Stars in Report Guru</b>
           </div>
           <div class="pink-containerdv" id="thirdpink">
               <div class="star-containerdv">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
                   <img src="./images/icon-star.svg">
               </div>
               <b>Rated 5 Stars in BestTech</b>
           </div>
       </div>
   </div>


<!--purple cards-->
<div class="card-sectiondv">
    <!--first card-->
    <div class="purple-containerdv">
        <div class="user-infodv">
        <img src="./images/image-colton.jpg" class="round-imagedv">
        <div class="user-detailsdv">
        <div class="usernamedv">Colton Smith </div>
        <div class="user-descpdv"> Verified Buyer</div>
    </div>
    </div>
        <p class="thoughtsdv">"We needed the same printed design as the one we had ordered a week prior.
            Not only did they find the original order, but we also received it in time.
            Excellent!"</p>

    </div>
    <!--second card-->
    <div class="purple-containerdv" id="seccard">
        <div class="user-infodv">
        <img src="./images/image-colton.jpg" class="round-imagedv">
        <div class="user-detailsdv">
        <div class="usernamedv"> Irene Roberts</div>
        <div class="user-descpdv"> Verified Buyer</div>
    </div>
    </div>
        <p class="thoughtsdv">"Customer service is always excellent and very quick turn around. Completely
            delighted with the simplicity of the purchase and the speed of delivery."</p>

    </div>
    <!--third card-->
    <div class="purple-containerdv" id="thirdcard">
        <div class="user-infodv">
        <img src="./images/image-anne.jpg" class="round-imagedv">
        <div class="user-detailsdv">
        <div class="usernamedv">Anne Wallace</div>
        <div class="user-descpdv"> Verified Buyer</div>
    </div>
    </div>
        <p class="thoughtsdv">"Put an order with this company and can only praise them for the very high
            standard. Will definitely use them again and recommend them to everyone!"</p>

    </div>

</div>
</div>


  </body>
</html>
