.container-content{
    display: flex;
    background-color: rgba(151, 151, 206, 0.445);
    
}
.container-lights{
    height: 20em;
    width: 10%;
    background-color: yellow;
    padding-top: 1em;
}
.red{
    height: 6em;
    width: 6em;
    background-color: red;
    border-radius: 3em;
    top: 2%;
    margin-left: 0.8em;
    opacity: 0.2;
}
.yellow{
    height: 6em;
    width: 6em;
    background-color:rgb(255, 168, 29);
    border-radius: 3em;
    margin-left: 0.8em;
    margin-top: 0.4em;
    opacity: 0.1;

}
.green{
    height: 6em;
    width: 6em;
    background-color:green;
    border-radius: 3em;
    margin-left: 0.8em;
    margin-top: 0.4em;
    opacity: 0.2;
}
.button-container{
    padding: 4em;
}
.buttons{
    width: 60%;
    height: 15%;
    margin-top: 4%;
    background-color: rgba(122, 0, 122, 0.151);
    border: 1px solid white;
    font-weight: bolder;
    color: aliceblue;
}
.red-dark{
    height: 6em;
    width: 6em;
    background-color: red;
    border-radius: 3em;
    top: 2%;
    margin-left: 0.8em;
    opacity: 0.9;
}
.yellow-dark{
    height: 6em;
    width: 6em;
    background-color:rgb(255, 168, 29);
    border-radius: 3em;
    margin-left: 0.8em;
    margin-top: 0.4em;
    opacity: 0.9;

}
.green-dark{
    height: 6em;
    width: 6em;
    background-color:green;
    border-radius: 3em;
    margin-left: 0.8em;
    margin-top: 0.4em;
    opacity: 0.9;
}