*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#logo{
    height: 3rem;
    width: 3rem;
}
#navbar{
    display: flex;
}
.navitems{
    text-decoration: none;
    padding-top: 1.8%;
    padding-left: 1%;
    color: grey;
    font-size: medium;
}
#nav{
    display: flex;
    background-color: black;
    height: 25px;
    width: 1263px;
    margin: 0px;
}
.navi{
    margin-left: 1%;
    text-decoration: none;
    padding-top: 0.2%;
    padding-left: 2%;
    color: white;
    font-size: medium; 
}
.navi:hover{
    background-color: #04AA6D;
}